.buts{
   text-align: center;
  
    
}

.btn-primary {
    width: 200px;
}


.card-title {
    text-align: center;
    font-size: x-large;
}
h1 {
    color: white;
}
a {
    color: #f4623a;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #d6370c;
    text-decoration: underline;
}